
@import url(../fonts/droid-kufi/fonts-fa.css);
body.simple-page {
  background-color: #fff;
  padding-top: 8%; }

.simple-page-wrap {
  /*width: 380px;*/
  margin: 0 auto; }

.simple-page-logo {
  text-align: center;
  font-size: 24px;
  margin-bottom: 24px; }
  .simple-page-logo a {
    color: #fff; }

.simple-page-form {
  background-color: #fff;
  border-radius: 6px;
  padding: 24px;
  margin-bottom: 24px; }
  .simple-page-form .form-group {
    margin-bottom: 32px; }
  .simple-page-form input,
  .simple-page-form input:focus,
  .simple-page-form input:active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .simple-page-form input {
    border: none;
    border-bottom: 1px solid #eee;
    height: 40px; }
  .simple-page-form .btn {
    width: 100%; }

.simple-page-footer p {
  text-align: center;
  margin-bottom: 24px; }

.simple-page-footer a {
  color: #fff;
  font-weight: 500; }

.simple-page-footer small {
  margin-right: 16px;
  color: #fff; }

#_404_title {
  text-align: center;
  font-weight: 900;
  font-size: 140px;
  letter-spacing: 5px;
  color: #fff; }

#_404_msg {
  color: #fff;
  text-align: center;
  font-size: 16px; }

#_404_form {
  margin-top: 48px; }
  #_404_form .form-control {
    height: 40px; }
  #_404_form .input-group-addon {
    background: #fff;
    border: #fff;
    color: #fff; }

#unlock-user {
  margin-top: 64px;
  margin-bottom: 48px; }
  #unlock-user .avatar {
    display: block;
    margin-right: 0;
    margin: 0 auto;
    width: 80px;
    height: 80px; }
  #unlock-user h4 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;font-family: dr-reg; }

#unlock-form .form-group {
  margin-bottom: 32px; }

#unlock-form input,
#unlock-form input:focus,
#unlock-form input:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #aaa; }

#unlock-form input {
  width: 70%;
  margin: 0 auto;
  border-radius: 0;
  text-align: center;
  color: #fff;
  background-color: transparent;
  height: 40px; }
  #unlock-form input::-webkit-input-placeholder {
    color: #fff; }
  #unlock-form input::-moz-placeholder {
    color: #fff; }
  #unlock-form input:-ms-input-placeholder {
    color: #fff; }

#unlock-form #unlock-btn {
  display: block;
  margin: 0 auto;
  background-color: #fff;
  color: #fff;
  border-radius: 3px;
  width: 120px; }

#back-to-home {
  position: fixed;
  top: 60px;
  left: 60px; }
  #back-to-home a {
    color: #fff;
    font-size: 18px; }
    #back-to-home a i {
      font-size: 24px; }


.simple-page-logo a{
    display: inline-block;position: relative;
}

.simple-page-logo a span.brand-icon{
    width: 30px;
    height: 30px;
    float: right;
    margin-left: 10px;
    background-image: url(../images/spir.png);
    background-position: -38px 0;   
}

.simple-page-logo a span.brand-icon{
    width: 50px;
    height: 50px;
    float: right;
    margin-left: 10px;
    background-image: url(../images/logo-white.png);
    background-position: 50%;
    background-size: cover;
}

.simple-page-logo span {
    font-family: dr-reg;
    line-height: normal;
    vertical-align: middle;
    font-size: 19px;
}

#_404_msg{
    font-family: dr-reg;
}


#_404_form .form-control {
    height: 40px;
    text-align: right;font-size: 14px;font-family: sans-serif;
}

#_404_form .input-group-addon {
    background: #1b1c1d;
    border: #1b1c1d;
    color: #fff;
}
body.simple-page {
    background-color: #d31a39â€;
    padding-top: 8%;
}

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus,.btn-primary {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
}{
    color: #fff;
    background-color: #c7a507;
    border-color: #c7a507;
}

.simple-page-form h4,.simple-page-footer a{
    font-family: dr-reg;font-size: 13px;
}


.checkbox-primary input[type="checkbox"]:checked + label::before, .checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #c7a507;
    border-color: #c7a507;
}


@media(max-width:768px){
    #back-to-home {
    position: fixed;
    top: 90px;
    left: 15px;
}
}

.simple-page-form input{
    text-align: right;
    font-size: 14px;
}

.checkbox {
    padding: 0 20px 0 0;
    text-align: right;
}

.checkbox label::before{
    right: 0;
    left: auto;
    margin: 0 -20px 0 0;
}

.checkbox label{
    padding: 0 5px 0 0;font-family: dr-reg;font-size: 11px;font-weight: normal;
}

.checkbox label::after{
    right: 0;
    left: auto;
    margin: 0 -17px 0 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before, .checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #c7a507;
    border-color: #c7a507;
}

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus, .btn-primary {
    color: #fff;
    background-color: #c7a507;
    border-color: #c7a507;
}

.simple-page-form .form-group .btn{
    text-align: center;
}

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus{
    background-color: #191919;
    border-color: #191919;
}

.btn-primary:hover {
    color: #fff;
    background-color: #191919;
    border-color: #191919;
}

.simple-page-form .btn {
    width: 100%;
    text-align: center; font-family: dr-reg;
}

.simple-page-form h4, .simple-page-footer a,#unlock-form input{
    font-family: dr-reg;
}

.simple-page-footer small {
    margin-right: 16px;
    color: #fff;
    font-family: dr-reg;
    color: #000;
}

#unlock-form #unlock-btn {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    color: #c7a507;
    border-radius: 3px;
    width: 120px;
    font-family: dr-reg;
}
